<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.release.aeonaudio">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.samsung.permission.SSENSOR" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <screen android:screenSize="small" android:screenDensity="xxhdpi" />
        <screen android:screenSize="small" android:screenDensity="xxxhdpi" />
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
        <screen android:screenSize="normal" android:screenDensity="xxhdpi" />
        <screen android:screenSize="normal" android:screenDensity="xxxhdpi" />

        <screen android:screenSize="large" android:screenDensity="ldpi" />
        <screen android:screenSize="large" android:screenDensity="mdpi" />
        <screen android:screenSize="large" android:screenDensity="hdpi" />
        <screen android:screenSize="large" android:screenDensity="xhdpi" />
        <screen android:screenSize="large" android:screenDensity="xxhdpi" />
        <screen android:screenSize="large" android:screenDensity="xxxhdpi" />
    </compatible-screens>
    <application
        android:name="com.release.aeonaudio.utils.MyCustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- <activity -->
        <!-- android:name=".activity.MainActivity" -->
        <!-- android:theme="@style/MyMaterialTheme.Base"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".activity.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SubscriptionActivity"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".activity.ProfileActivity" /> -->
        <activity
            android:name=".activity.FilterActivity"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".activity.SearchActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyDownloads"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PurchaseHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PurchaseHistoryDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentDetailsActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.MusicService"
            android:stopWithTask="true" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity xmlns:tools="http://schemas.android.com/tools"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/FullyTranslucent"
            tools:replace="android:theme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activity.Blank" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dc54ab8c702d743b2868166553f380ba5651c453" />
        <!-- chromecast -->
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.release.aeonaudio.CastOptionsProvider" />

        <activity
            android:name=".utils.ExpandedControlsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CastVideosDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <!--
                <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VideoBrowserActivity"/>
            -->
        </activity>
    </application>

</manifest>